<div class="import_modal_wrap">

  <div class="tg_page_head tg_modal_head">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">

        <div class="navbar-header">

          <ul class="nav navbar-nav navbar-quick-nav">
            <li class="navbar-quick-right">
              <a ng-class="{disabled: progress.enabled}" ng-click="saveTemplate()" ng-bind="progress.enabled ? 'contact_edit_modal_submit_active' : 'contact_edit_modal_submit'| i18n" ng-disabled="progress.enabled"></a>
            </li>
            <li>
              <a ng-click="$dismiss()" class="navbar-quick-media-back">
                <i class="icon icon-back"></i>
                <div class="navbar-quick-back-title">
                  <h4 ng-if="editing" my-i18n="templates_edit_modal_title"></h4>
                  <h4 ng-if="!editing" my-i18n="templates_add_modal_title"></h4>
                </div>
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="saveTemplate()" my-vertical-position="0.3">
      <div class="form-group">
        <input class="form-control input-lg" type="text" placeholder="{{'templates_edit_modal_key' | i18n}}" ng-model="template.key" my-submit-on-enter/>
      </div>
      <div class="form-group">
        <textarea class="form-control input-lg" rows="5" placeholder="{{'templates_edit_modal_value' | i18n}}" ng-model="template.value" my-submit-on-enter/>
      </div>

    </form>

  </div>

</div>